.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
}

.player-hand {
  display: flex;
}
@font-face {
  font-family: MedievalSharp;
  src: url('./icons/MedievalSharp/MedievalSharp.ttf')
}

.heart-code-card-red {
  font-family: MedievalSharp;
  font-size: 2em;
  z-index: 5;
  margin: 10px;
  width: 150px;
  height: 300px;  
  border: 2px solid black;
  background: red;
  background-image: url('./icons/ember-shot\ \(1\).png');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center; 
}

.heart-code-card-green {
  font-family: MedievalSharp;
  font-size: 2em;
  z-index: 5;
  margin: 10px;
  width: 150px;
  height: 300px;
  border: 2px solid black;
  background: rgb(121, 211, 121);
  background-image: url('./icons/magic-potion\ \(1\).png');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center; 
}

.heart-code-card-blue {
  font-family: MedievalSharp;
  font-size: 2em;
  z-index: 5;
  margin: 10px;
  width: 150px;
  height: 300px;
  border: 2px solid black;
  background: lightskyblue;
  background-image: url('./icons/magic-portal.png');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center; 
}

.heart-code-card-black {
  font-family: MedievalSharp;
  font-size: 2em;
  z-index: 5;
  margin: 10px;
  width: 150px;
  height: 300px;  
  border: 2px solid black;
  background: grey;
  color: white;
  background-image: url('./icons/diablo-skull\ \(1\).png');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center; 
}

.heart-code-card-purple {
  font-family: MedievalSharp;
  font-size: 2em;
  z-index: 5;
  margin: 10px;
  width: 150px;
  height: 300px;
  border: 2px solid black;
  background: purple;
  background-image: url('./icons/crenulated-shield.png');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center; 
}